body { background: #b09d4a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 23px; display: flex; }
.block-payment-0 { color: #48733f; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #4d9001; font-size: 14px; margin-bottom: 5px; }
.block-logger-2 { color: #6a1dd8; font-size: 17px; margin-bottom: 5px; }
.block-email-3 { color: #22a818; font-size: 16px; margin-bottom: 5px; }
.block-helper-4 { color: #d78581; font-size: 12px; margin-bottom: 5px; }